* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.exercice-rythme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.exercice-rythme .header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1.2rem;
}

.exercice-rythme .header .checkbox {
  margin-right: 1rem;
}

.exercice-rythme .main {
  background-color: #fff;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
}

.exercice-rythme .main .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.exercice-rythme .names {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  line-height: 50px;
  font-size: 1.5rem;
  text-align: center;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  /* border-top: 1px solid rgb(240, 240, 240); */
}

.exercice-rythme .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.exercice-rythme .footer .btn, .exercice-rythme .footer .btn-reset {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  background-color: #4879fd;
  color: #fff;
  border: none;
  cursor: pointer;
}
