@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', 'Geneva', 'Tahoma', 'sans-serif';
  margin: 0;
  padding: 0;
  color: rgb(60, 60, 60);
}

h1, h2 {
  margin: 0;
}
h3 {
  margin-top: 2.5rem;
  padding-top: 1.5rem;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 1rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.is-active {
  background-color: rgb(245, 245, 245);
  color: rgb(0, 0, 0) !important;
}
.pdf {
  color: rgb(218, 2, 2);
  margin-right: .5rem;
}

.black {
  color: rgb(0, 0, 0);
}

.download {
  padding: 1rem 0;
}

.open {
  left: 0 !important;
}
