* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1.2rem;
}

.main {
  background-color: #fff;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
}
.line {
  width: 3px;
  background-color: black;
}
.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.names-wrapper {
  text-align: center;
}
.names {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  line-height: 50px;
  font-size: 1.5rem;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  /* border-top: 1px solid rgb(240, 240, 240); */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.btn, .btn-reset {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  background-color: rgb(72, 121, 253);
  color: #fff;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
}
